<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.min.css">

</head>
<body>


	<table id="example" class="display" style="width:100%">
	        <thead>
	            <tr>
	                <th>Record ID</th>
	                <th>Patient Name</th>
	                <th>Record Type</th>
	                <th>Requested By</th>
	                <th>Status</th>
	                <th>Document Path</th>
	                <th>Record Created Date</th>
	                <th>Request Updated Date</th>
	                <th>Approve</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Record ID</th>
	                <th>Patient Name</th>
	                <th>Record Type</th>
	                <th>Status</th>
	                <th>Requested By</th>
	                <th>Document Path</th>
	                <th>Record Created Date</th>
	                <th>Request Updated Date</th>
	                <th>Approve</th>
	            </tr>
	        </tfoot>
	</table>
</body>
<script type="text/javascript" src="js/dashboard.js"></script>
</html>