<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pharmeasy Login</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
	<link rel="stylesheet" href="assets/demo.css">
	<link rel="stylesheet" href="assets/form-basic.css">

</head>

<body>
	<header>
		<h1>Pharmeasy</h1>
        <!-- <a href="http://tutorialzine.com/2015/07/freebie-7-clean-and-responsive-forms/">Download</a> -->
    </header>

    <div class="main-content">

        <!-- You only need this form and the form-basic.css -->

        <form id="loginform" class="form-basic" method="GET">
            <div class="form-title-row">
                <h1>Login Details</h1>
            </div>
            <div class="form-row">
                <label>
                    <span>User Name</span>
                    <input type="text" name="username" id="username">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="text" name="password" id="password">
                </label>
            </div>
            <div class="form-basic">
                <input type="submit" name="loginsub" id="loginsub" value="Login">
            </div>
        </form>

    </div>

</body>

</html>